In [ ]:
import pandas as pd

In [ ]:
int_revenue = 222
growth_factor = 0.18
EBITDA_Margin = 0.45
NTaxes = 0.21
NCap_Ex = 0.03
NWork_Cap = 0.06
EBITDA_Exit_Multiple = 32.70
NDiscount_Factor= 0.94 
WACC= 0.06

In [ ]:
df = pd.DataFrame(columns = [ "Revenue" ,"EBITDA" ,"Taxes","Cap_Ex" ,"Work_Cap" ,"Cash_Flow" ,"Discount_Factor" ,"Present_Value_of_FCF" ],
                  index=pd.date_range(start ='2022',end ='2033', freq='Y').year)

In [ ]:
df.loc[2022,"Revenue"] = int_revenue * (1 + growth_factor)

In [ ]:
for i in range (1,len(df)):
    df.iloc[i]["Revenue"] = df.iloc[i -1]["Revenue"] * (1 + growth_factor)

In [ ]:
df["EBITDA"] = df ["Revenue"] * EBITDA_Margin

In [ ]:

df["Taxes"] = -df ["EBITDA"] * NTaxes

In [ ]:
df["Cap_Ex"] = -df ["Revenue"] * NCap_Ex

In [ ]:
df["Work_Cap"] = -df ["Revenue"] * NWork_Cap

In [ ]:
df["Cash_Flow"] = df["EBITDA"] + df["Taxes"] + df["Cap_Ex"] + df["Work_Cap"]

In [ ]:
df

      Revenue   EBITDA    Taxes  ... Cash_Flow Discount_Factor Present_Value_of_FCF
2022   261.96  117.882 -24.7552  ...   69.5504             NaN                  NaN
2023  309.113  139.101 -29.2112  ...   82.0694             NaN                  NaN
2024  364.753  164.139 -34.4692  ...   96.8419             NaN                  NaN
2025  430.409  193.684 -40.6736  ...   114.273             NaN                  NaN
2026  507.882  228.547 -47.9949  ...   134.843             NaN                  NaN
2027  599.301  269.685 -56.6339  ...   159.114             NaN                  NaN
2028  707.175  318.229 -66.8281  ...   187.755             NaN                  NaN
2029  834.467   375.51 -78.8571  ...   221.551             NaN                  NaN
2030  984.671  443.102 -93.0514  ...    261.43             NaN                  NaN
2031  1161.91   522.86 -109.801  ...   308.488             NaN                  NaN
2032  1371.06  616.975 -129.565  ...   364.015             NaN                  NaN

[11 rows x 8 columns]

In [ ]:
df.iloc[0]["Discount_Factor"]= Discount_Factor
for i in range(1,len(df)):
  
    df.iloc[i]["Discount_Factor"] = (1 + WACC) ** -(i +1)

In [ ]:
df["Present_Value_of_FCF"] = df["Cash_Flow"] * df["Discount_Factor"]

In [ ]:
df

      Revenue   EBITDA    Taxes  ... Cash_Flow Discount_Factor Present_Value_of_FCF
2022   261.96  117.882 -24.7552  ...   69.5504            0.94              65.3774
2023  309.113  139.101 -29.2112  ...   82.0694        0.889996              73.0415
2024  364.753  164.139 -34.4692  ...   96.8419        0.839619              81.3104
2025  430.409  193.684 -40.6736  ...   114.273        0.792094              90.5153
2026  507.882  228.547 -47.9949  ...   134.843        0.747258              100.762
2027  599.301  269.685 -56.6339  ...   159.114        0.704961              112.169
2028  707.175  318.229 -66.8281  ...   187.755        0.665057              124.868
2029  834.467   375.51 -78.8571  ...   221.551        0.627412              139.004
2030  984.671  443.102 -93.0514  ...    261.43        0.591898               154.74
2031  1161.91   522.86 -109.801  ...   308.488        0.558395              172.258
2032  1371.06  616.975 -129.565  ...   364.015        0.526788              191.759

[11 rows x 8 columns]

In [ ]:
terminal_value = (df.loc[2032, "EBITDA"] * EBITDA_Exit_Multiple)
terminal_value

20175.082590019254

In [ ]:
present_teminal_value = terminal_value * df.loc[2031, "Discount_Factor"]
present_teminal_value

11265.66074209788

In [ ]:
present_value_of_projected = df["Cash_Flow"].drop(index=2032).sum()
present_value_of_projected

1635.9159534677815

In [ ]:
message = f"""
Our projected Present Value of Projected Future Cash Flows are:{int (present_value_of_projected)}.


We are providing revenue guidance in 2032 to be: {int (df.loc[2032, "Revenue"])}.

With an estimated EBITDA around: {int (df.loc[2032, "EBITDA"])}.

The terminal value a this time given a multiple of 32.70

and the above EBITDA for 2030, would equal: {int (terminal_value)}.

"""
print( message)

Our projected Present Value of Projected Future Cash Flows are:1635.


We are providing revenue guidance in 2032 to be: 1371.

With an estimated EBITDA around: 616.

The terminal value a this time given a multiple of 32.70

and the above EBITDA for 2030, would equal: 20175.